.content
  .header
    %h1
      %span.type Home
      %strong Overview
    .toolbar
      .edit.pictos-text= link_to('Edit', '#', :class => 'flip-trigger')
      .edit.pictos-icon= link_to('p', '#', :class => 'flip-trigger')
  .body

= content_for :back do
  .content
    .header
      %h1
        %span.type Editing
        %strong Overview
      .toolbar
        .cancel.pictos-text= link_to('Cancel', '#', :class => 'flip-trigger')
        .cancel.pictos-icon= link_to('*', '#', :class => 'flip-trigger')      
    .body
      %form#entry

= content_for :sidebar do
  %nav#sitemap.sitemap
    .header
      %h3.current= link_to('Loading ...', '#')


= content_for :head do  
  :javascript
    $LAB.script('/javascripts/c2/informant/init.js');

= content_for :templates do
  = render 'entry_index'
  = render 'sidebar'