.content
  .header
    %h1
      %span.type Home
      %strong Overview
  .body

= content_for :back do
  .content
    .header
      %h1
        %span.type Editing
        %strong Overview
    .body
      %form#entry

= content_for :sidebar do
  %nav#sitemap.sitemap
    .header
      %h3.current= link_to('Loading ...', '#')


= content_for :head do  
  :javascript
    Sexy.script('/javascripts/c2/informant/init.js');

= content_for :templates do
  = render 'entry_index'
  = render 'entry_index_aside'
  = render 'sidebar'