!!!
%head
  %title= params[:controller].split('/').map(&:titleize).join(' ')
  = csrf_meta_tag  

  %link{ :rel => 'stylesheet', :href => '/stylesheets/c2.css', :type => 'text/css', :media => 'screen', :charset => 'utf-8' }
  %script{:src => '/javascripts/c2/lib/Sexy.min.js', :type => 'text/javascript'}

  = yield :head
      
%body.pictos-icons
  #templates
    = yield :templates
  #wrapper
    #header-wrapper
      %header#header
        %h1= link_to('Command & Control', '#')
        %h2=# link_to('Version 0.0.1', '#', :class => 'preview')
        .url= link_to('Control Yourself!', '#', :class => 'external-link')
        %ul.links
          %li#user-name= link_to(current_c2_agent_title, '#')
          %li=# link_to('Help & Feedback', '#', :id => 'support-link')
          %li=# link_to('Flip', '#', :class => 'back flip-trigger')
          
        %nav
          %ul
            %li.informant.tab{:class => "#{params[:controller] == 'c2/informant/app' ? 'current' : '' }"}= link_to('Informant', c2_informant_app_path)
            %li.reports.tab{:class => "#{params[:controller] == 'c2/reporter/app' ? 'current' : '' }"}= link_to('Reporter', c2_reporter_app_path)
        
    #main-wrapper
      #sidebar-wrapper
        #sidebar
          = yield :sidebar
      #main-content
        #notices
          = yield :notices
        #app-wrapper
          #app
            #app-front.sheet
              = yield
            #app-back.sheet
              = yield :back
      #aside-wrapper
        #aside
          = yield :aside
      #footer-wrapper
        #footer
          = yield :footer
          
    
    